<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset
        name="item"
        label="COM_CARDAPIO_CONFIG_ITEM_SETTINGS_LABEL"
        description="COM_CARDAPIO_CONFIG_ITEM_SETTINGS_DESC"
    >
        <field
            name="show_category"
            type="radio"
            label="COM_CARDAPIO_ITEM_FIELD_SHOW_CATEGORY_LABEL"
            description="COM_CARDAPIO_ITEM_FIELD_SHOW_CATEGORY_DESC"
            default="0"
        >
            <option value="0">JHIDE</option>
            <option value="1">JSHOW</option>
        </field>
        <field
            name="item_lightbox"
            type="radio"
            label="COM_CARDAPIO_ITEM_FIELD_OPEN_LIGHTBOX_LABEL"
            description="COM_CARDAPIO_ITEM_FIELD_OPEN_LIGHTBOX_DESC"
            default="1"
        >
            <option value="0">COM_CARDAPIO_NO</option>
            <option value="1">COM_CARDAPIO_YES</option>
        </field>
    </fieldset>
    <fieldset
        name="permissions"
        label="JCONFIG_PERMISSIONS_LABEL"
        description="JCONFIG_PERMISSIONS_DESC"
    >
        <field
            name="rules"
            type="rules"
            label="JCONFIG_PERMISSIONS_LABEL"
            class="inputbox"
            validate="rules"
            filter="rules"
            component="com_cardapio"
            section="component"
        />
    </fieldset>
</config>