<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset
        name="person"
        label="COM_WORKERSTATUS_CONFIG_PERSON_SETTINGS_LABEL"
        description="COM_WORKERSTATUS_CONFIG_PERSON_SETTINGS_DESC"
    >
        <field
            name="show_business"
            type="radio"
            label="COM_WORKERSTATUS_PERSON_FIELD_SHOW_BUSINESS_LABEL"
            description="COM_WORKERSTATUS_PERSON_FIELD_SHOW_BUSINESS_DESC"
            default="0"
        >
            <option value="0">JHIDE</option>
            <option value="1">JSHOW</option>
        </field>
        <field
            name="person_lightbox"
            type="radio"
            label="COM_WORKERSTATUS_PERSON_FIELD_OPEN_LIGHTBOX_LABEL"
            description="COM_WORKERSTATUS_PERSON_FIELD_OPEN_LIGHTBOX_DESC"
            default="1"
        >
            <option value="0">COM_WORKERSTATUS_NO</option>
            <option value="1">COM_WORKERSTATUS_YES</option>
        </field>
    </fieldset>
    <fieldset
        name="permissions"
        label="JCONFIG_PERMISSIONS_LABEL"
        description="JCONFIG_PERMISSIONS_DESC"
    >
        <field
            name="rules"
            type="rules"
            label="JCONFIG_PERMISSIONS_LABEL"
            class="inputbox"
            validate="rules"
            filter="rules"
            component="com_workerstatus"
            section="component"
        />
    </fieldset>
</config>